.background {
  background-image: url("/src/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fullContainer {
  display: flex;
  /* align-items: center; */
  margin-top: 10vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20vh;
}

.title {
  color: rgb(98, 89, 86);
  width: fit-content;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
}

.titleSpan {
  color: white;
  font-weight: lighter;
}

.ulAndContent {
  display: flex;
}

.nameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
  width: 500px;
  height: 271px;
  left: 325px;
  top: 383px;
  margin-top: 10vh;
  
}

.subTitle {
  color: #d0d6f9;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 2.7px;
  font-family: 'Barlow Condensed', sans-serif;
  
}

.name {
  color: #ffffff;
  font-size: 56px;
  font-weight: lighter;
  font-family: "Bellefair", serif;
  margin: 0px;
  
}

.description {
  color: #d0d6f9;
  letter-spacing: 2.7px;
  line-height: 1.5;
  
}

.ulNav {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  align-items: flex-end;
  width: fit-content;
  list-style: none;
  gap: 30px;
  margin-top: 10vh;
}

.ulButton {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  border-color: grey;
  font-size: 26px;
  font-family: "Bellefair", serif;
  color: white;
}

.ulButton:hover {
  border-color: white;
}

.activeButtom {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: white;
  border: none;
  font-size: 26px;
  font-family: "Bellefair", serif;
  color: black;
}

/* Right side */
.rightContainer {
  width: 515px;
  height: 527px;
  display: flex;
  margin-left: 20vw;
}
