.navContainer {
  padding-top: 4vh;
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  width: 50%;
  margin-left: 2vw;
}

.navLinks {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.262) 50%;
  margin: 0;
  align-items: center;
}

.navText {
  color: rgb(255, 255, 255);
  font-family: "Barlow Condensed";
}

a {
  text-decoration: none;
  color: white;
}

hr {
  position: absolute;
  width: 40%;
  border-color: rgba(255, 255, 255, 0.262) 50%;
  background-color: rgba(255, 255, 255, 0.262) 50%;
  margin-top: 20px;
  margin-right: 700px;
}

.navContainer li:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.426);
}

.active {
  border-bottom: 3px solid white;
}

.mobileMenu {
  display: none;
}

.hamburguerIcon {
  display: none;
}

/* Responsive  */

/* Tablets  */
@media only screen and (max-width: 1024px) {
  .navContainer {
    padding-top: 1vh;
  }

  hr {
    display: none;
  }
}

/* Phones  */
@media only screen and (max-width: 480px) {

  .logo {
    margin-top: 1vh;
    width: 35px;
    height: 35px;
  }
  .navContainer {
    display: flex;
    justify-content: space-between;
  }

  .navLinks {
    display: none;
  }

  .hamburguerIcon {
    display: flex;
    width: 24px;
    height: 21px;
    margin-top: 2vh;
    margin-right: 5vw;
    z-index: 5;
  }

  .mobileMenu {
    background-color: red;
  }

  .mobileMenuDisplay {
    background: rgba(73, 70, 70, 0.986) 50%;
    height: 100vh;
    width: 50vw;
    right: 0;
    position: absolute;
    margin-top: 0;
    z-index: 2;
    
  }

  .navText {
    margin-top: 10vh;
  }

  
}
