.background {
    background-image: url("/src/assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.fullContainer {
    display: flex;
    /* align-items: center; */
    margin-top: 10vh;
    
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 300px;
    
    

}

.title {
    color: rgb(98, 89, 86);
    width: fit-content;
}

.titleSpan {
    color: white;
    font-weight: lighter;
}

.role {
    color: rgb(98, 89, 86);
    font-size: 32px;
    font-weight: lighter;
    font-family: 'Bellefair', serif;
    width: fit-content;
}

.name {
    color: #ffffff;
    font-size: 56px;
    font-weight: lighter;
    font-family: 'Bellefair', serif;
    width: fit-content;
}

.bio {
    color: #D0D6F9;
    width: 50%;

}

.ulNav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.ulButton {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(79, 79, 79);
    border: none;
    
}

.ulButton:hover {
    background-color: grey;
}

.activeButtom {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: white;
    border: none;
    
    
}




/* Right side */
.rightContainer {
    width: 50%;
    display: flex;
}

