.background {
  background-image: url("/src/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.fullContainer {
  display: flex;
  /* align-items: center; */
  margin-top: 10vh;
  position: fixed;
  bottom: 0;
  height: 712px;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 300px;
}

.title {
  color: rgb(98, 89, 86);
  width: fit-content;
  font-family: "Barlow Condensed", sans-serif;
}

.titleSpan {
  color: white;
  font-weight: lighter;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.7px;
}

.role {
  color: rgb(132, 124, 122);
  font-size: 32px;
  font-weight: lighter;
  font-family: "Bellefair", serif;
  width: fit-content;
  margin-top: 10vh;
  margin-bottom: 1vh;
}

.name {
  color: #ffffff;
  font-size: 56px;
  font-weight: lighter;
  font-family: "Bellefair", serif;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 4vh;
}

.bio {
  color: #d0d6f9;
  width: 50%;
  height: 140px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

.ulNav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.ulButton {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: rgb(79, 79, 79);
  border: none;
}

.ulButton:hover {
  background-color: grey;
}

.activeButtom {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background-color: white;
  border: none;
}

/* Right side */
.rightContainer {
  width: 50%;
  display: flex;
}

/* Responsive  */

/* Tablets  */
@media only screen and (max-width: 1024px) {
  .background {
    background-image: url("/src/assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .fullContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 0;
  }

  .leftContainer {
    width: 80vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  .title {
    font-size: 26px;
    margin-right: 400px;
    width: 300px;
  }

  .titleSpan {
    margin-left: 10px;
  }

  .role {
    font-size: 26px;
    margin: 0;
  }

  .name {
    font-size: 36px;
    text-align: center;
    width: 55vw;
  }

  .bio {
    width: 70vw;
    text-align: center;
  }

  .rightContainer {
    width: 50%;
    height: 50%;
    bottom: 0;
    position: fixed;
  }
}

/* Phones  */
@media only screen and (max-width: 480px) {
  .background {
    background-image: url("/src/assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .title {
    margin-right: 0;
    margin-bottom: 40vh;
    font-size: 16px;
    order: -2;
  }

  .ulNav {
    order: -1;
    padding: 0;
  }

  .role {
    font-size: 16px;
  }

  .name {
    font-size: 24px;
    width: 80vw;
  }

  .bio {
    width: 90vw;
    text-align: center;
  }

  .rightContainer {
    width: 327px;
    height: 223px;
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
  }
}
